<section id="about">
    <% if (config.description) { %>
        <%- markdown(config.description) %>
    <% } %>
    <% if (site.data.social) { %>
        <p>
            <%= __('index.find_me_on') %>
            <% var nb_links = site.data.social.nav.length %>
            <% var i = 0 %>
            <% for (var i in site.data.social.nav) { %>
                <% if (site.data.social.nav[i].link == 'mal') { %>
                    <a class="icon" target="_blank" rel="noopener noreferrer" href="<%- site.data.social.nav[i].url %>">
                        <span class="icon-mal"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                <% } else if (site.data.social.nav[i].link == 'mail') { %>
                    <a class="icon" target="_blank" rel="noopener noreferrer" href="<%- site.data.social.nav[i].url %>">
                        <i class="icon-envelope"></i>
                    </a>
                <% } else { %>
                    <a class="icon" target="_blank" rel="noopener noreferrer" href="<%- site.data.social.nav[i].url %>">
                        <i class="icon-<%- site.data.social.nav[i].link %>"></i>
                    </a>
                <% } %>
                <%= (nb_links > 0 && i < nb_links - 1 ?
                        (i == nb_links - 2 ? ' ' + __('index.enum_and') + ' '
                                : __('index.enum_comma') + '')
                        : '.') %>
                <% i += 1 %>
            <% } %>
        </p>
    <% } %>
</section>

<main id="writing">
    <header>
        <span class="h1"><a href="<%- url_for("archives") %>"><%= __('index.articles') %></a></span>
    </header>
    <div class="post-list">
        <hr>
        <% page.posts.each(function(post, i){ %>
            <div class="post-item">
                <%- partial('_partial/post/title', {
                    post: post,
                    index: true,
                    class_name: ''
                }) %>
                <span class="meta">
                    <i class="icon-clock-o"></i> <%- readingTime(post.content, 'min.') %>
                    <%- partial('_partial/post/date', {post: post}) %>
                    <i class="icon-comments"></i> <a
                            href="<%- config.url %><%- url_for(post.path) %>#disqus_thread">0</a>
                </span>
                <%- post.excerpt %>
            </div>
            <hr>
            <% if ((i % 3 || (i == page.posts.length - 1 && page.posts.length - 1 < 10)) && config.url == "https://kakise.me") { %>
                <!-- adsense in feed -->
                <div class="post-item">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-format="fluid"
                         data-ad-layout-key="-gm-b+1g-5v+a5"
                         data-ad-client="ca-pub-1368620516057306"
                         data-ad-slot="4875003371"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <hr>
            <% } %>
        <% }); %>
    </div>
    <%- partial('_partial/pagination') %>
</main>

<% if (site.data.projects) { %>
    <section id="projects">
        <span class="h1"><a href="<%- url_for(theme.projects_url) %>"><%= __('index.projects') %></a></span>
        <ul class="project-list">
            <% for(var obj in site.data.projects.prj){ %>
                <li class="project-item">
                    <b><a href="<%= site.data.projects.prj[obj].url %>"><%= site.data.projects.prj[obj].name %></a></b>: <%= site.data.projects.prj[obj].desc %>
                </li>
            <% } %>
        </ul>
    </section>
<% } %>
